<!DOCTYPE html>
<html lang="en">
<head>
  {% include "_analytics.njk" %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VSCode Webview Elements</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&amp;display=swap&amp;text=VSCodeWebviewElements" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/dev-assets/default-dark-theme.css' | url }}">
  <link rel="stylesheet" href="{{ '/dev-assets/default-high-contrast-theme.css' | url }}">
  <link rel="stylesheet" href="{{ '/dev-assets/default-light-theme.css' | url }}">
  <link rel="stylesheet" href="{{ '/dev-assets/preview-styles.css' | url }}">
  <link rel="stylesheet" href="{{ '/dev-assets/theme-switcher.css' | url }}">
  <link rel="stylesheet" href="{{ '/codicon.css' | url }}" id="vscode-codicon-stylesheet">
  <link rel="stylesheet" href="{{ '/docs.css' | url }}">
  <link rel="stylesheet" href="{{ '/prism-okaidia.css' | url }}">
  <script type="module" src="{{ '/bundled.js' | url }}"></script>
</head>
<body class="landing-page">
  <div>
    <div class="clipart">
      <div class="clipart__logo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 167.435 73.998" width="167" height="74"><g fill="#007acc"><path d="M115.89 8.141L100.762.857a4.574 4.574 0 00-5.23.89L66.537 28.2l-12.63-9.584a3.042 3.042 0 00-3.908.173l-4.051 3.678a3.067 3.067 0 00-.015 4.526l10.963 10-10.963 10a3.067 3.067 0 00.015 4.526l4.051 3.692c1.107.992 2.745 1.064 3.908.173l12.63-9.584L95.53 72.251a4.552 4.552 0 005.216.89l15.144-7.284a4.576 4.576 0 002.6-4.138V12.28a4.552 4.552 0 00-2.6-4.138zm-15.761 45.56l-22.012-16.71 22.012-16.709zM134.34 0l-7.81 7.81L155.73 37l-29.2 29.188 7.81 7.81 33.095-33.094v-7.81zM40.904 7.81L11.704 37l29.2 29.188-7.81 7.81L0 40.904v-7.81L33.094 0z"/></g></svg>
      </div>
      <h1 class="clipart__heading-1">VSCode<br> Webview<br> Elements</h1>
    </div>
    <h2 class="landing-header__heading-2">Web component library for developing<br> Visual Studio Code extensions</h2>
    <div class="buttons-wrapper">
      <a href="{{ '/pages/getting-started' | url }}" class="button">Getting started</a>
      <a href="https://github.com/bendera/vscode-webview-elements" class="button button--ghost">Github</a>
    </div>
    <p class="landing-version">Current version: {{ pkg.version }}</p>
  </div>
</body>
</html>
