<!DOCTYPE html>
<html lang="en">
<head>
  {% include "_analytics.njk" %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} &ndash; VSCode Webview Elements</title>
  <!-- script type="module" src="https://cdn.skypack.dev/@api-viewer/docs"></script -->
  <script type="module" src="https://cdn.skypack.dev/pin/@api-viewer/docs@v1.0.0-pre.6-hhrJZZ8uDokgZa55nxB6/mode=imports,min/optimized/@api-viewer/docs.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&amp;display=swap&amp;text=VSCodeWebviewElements" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/dev-assets/preview-styles.css' | url }}">
  <link rel="stylesheet" href="{{ '/codicon.css' | url }}" id="vscode-codicon-stylesheet">
  <link rel="stylesheet" href="{{ '/docs.css' | url }}">
  <link rel="stylesheet" href="{{ '/dev-assets/prism-material-light.css' | url }}">
  <script type="module" src="{{ '/dev-assets/component-preview.js' | url }}"></script>
  <script type="module" src="{{ '/bundled.js' | url }}"></script>
  <script>window.__PATH_PREFIX__ = '{{'/' | url}}';</script>
</head>
<body class="vscode-light">
  <header class="page-header">
    <div class="content-wrapper">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 167.435 73.998" width="167" height="74" class="page-header__logo"><g fill="#007acc"><path d="M115.89 8.141L100.762.857a4.574 4.574 0 00-5.23.89L66.537 28.2l-12.63-9.584a3.042 3.042 0 00-3.908.173l-4.051 3.678a3.067 3.067 0 00-.015 4.526l10.963 10-10.963 10a3.067 3.067 0 00.015 4.526l4.051 3.692c1.107.992 2.745 1.064 3.908.173l12.63-9.584L95.53 72.251a4.552 4.552 0 005.216.89l15.144-7.284a4.576 4.576 0 002.6-4.138V12.28a4.552 4.552 0 00-2.6-4.138zm-15.761 45.56l-22.012-16.71 22.012-16.709zM134.34 0l-7.81 7.81L155.73 37l-29.2 29.188 7.81 7.81 33.095-33.094v-7.81zM40.904 7.81L11.704 37l29.2 29.188-7.81 7.81L0 40.904v-7.81L33.094 0z"/></g></svg>
      <a href="{{ '/' | url }}" class="page-header__title">VSCode Webview Elements</a> <span class="page-header__version">{{ pkg.version }}</span>
      {% if toc %}
        <ul class="in-page-nav">
          <li>
            <h2><span>In-page Navigation</span></h2>
            <ul class="in-page-nav-dropdown">
              <li><a href="#top">Go to top</a></li>
              {%- for item in toc -%}
                <li><a href="#{{item.path}}">{{item.label}}</a></li>
              {%- endfor -%}
            </ul>
          </li>
        </ul>
      {% endif %}
    </div>
  </header>
  <div class="content-wrapper">
    <div class="page-content" id="top">
      <aside class="sidebar">
        <nav class="main-nav">
          <ul>
            <li><a href="{{ '/pages/getting-started' | url }}"{% if page.url == '/pages/getting-started/' %} class="current"{% endif %}>Getting Started</a></li>
            <li>
              <a href="{{ '/pages/examples' | url }}"{% if page.url == '/pages/examples/' %} class="current"{% endif %}>Examples</a>
              <ul>
                {%- for ex in collections.example -%}
                  <li>
                    <a href="{{ ex.url | url }}"{% if page.url == ex.url %} aria-current="page" class="current"{% endif %}>{{ ex.data.title }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            </li>
            <li>
              <a href="{{ '/components' | url }}"{% if page.url == '/components/' %} class="current"{% endif %}>Components</a>
              <ul>
                {%- for cmp in collections.component -%}
                  <li>
                    <a href="{{ cmp.url | url }}{% if page.fileSlug == 'api' %}api{% endif %}"{% if page.url == cmp.url or page.url == cmp.url + 'api/' %} aria-current="page" class="current"{% endif %}>{{ cmp.data.title }}{% if cmp.data.deprecated %}<span class="warning" title="Deprecated">⚠</span>{% endif %}</a>
                  </li>
                {%- endfor -%}
              </ul>
            </li>
          </ul>
        </nav>
      </aside>
      <div class="main-content">
        <div class="page">
          {% block subnav %}{% endblock %}
          {% block deprecationWarning %}{% endblock %}
          {{ content | safe }}
          {% block apiViewerElement %}{% endblock %}
        </div>
        <p class="last-modified">Last modified: {{ page.date.toUTCString() }}</p>
      </div>
    </div>
  </div>
</body>
</html>
