.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

node_modules
!node_modules/@bendera/vscode-webview-elements/dist/bundled.js
!node_modules/vscode-codicons/dist/codicon.css
!node_modules/vscode-codicons/dist/codicon.ttf
