node_modules
/lib/
/test/
.wireit/
docs/
.vscode/settings.json

/dist/
/coverage/

.env
debug.log
stats.html
tsconfig.tsbuildinfo

bendera-vscode-webview-elements-*.tgz
custom-elements.json
vscode.*-custom-data.json
