component-preview img {
  max-width: 100%;
  max-height: 100%;
}

component-preview a {
  color: var(--vscode-textLink-foreground);
}

component-preview a:hover {
  color: var(--vscode-textLink-activeForeground);
}

component-preview a:focus,
component-preview input:focus,
component-preview select:focus,
component-preview textarea:focus {
  outline: 1px solid -webkit-focus-ring-color;
  outline-offset: -1px;
}

component-preview code {
  color: var(--vscode-textPreformat-foreground);
}

component-preview blockquote {
  background: var(--vscode-textBlockQuote-background);
  border-color: var(--vscode-textBlockQuote-border);
}

component-preview ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

component-preview ::-webkit-scrollbar-thumb {
  background-color: var(--vscode-scrollbarSlider-background);
}
component-preview ::-webkit-scrollbar-thumb:hover {
  background-color: var(--vscode-scrollbarSlider-hoverBackground);
}
component-preview ::-webkit-scrollbar-thumb:active {
  background-color: var(--vscode-scrollbarSlider-activeBackground);
}
