body.vscode-high-contrast {
  --vscode-activityBar-background: #000000;
  --vscode-activityBar-dropBackground: rgba(255, 255, 255, 0.12);
  --vscode-activityBar-foreground: #ffffff;
  --vscode-activityBar-inactiveForeground: #ffffff;
  --vscode-activityBarBadge-background: #000000;
  --vscode-activityBarBadge-foreground: #ffffff;
  --vscode-badge-background: #000000;
  --vscode-badge-foreground: #ffffff;
  --vscode-breadcrumb-activeSelectionForeground: #ffffff;
  --vscode-breadcrumb-background: #000000;
  --vscode-breadcrumb-focusForeground: #ffffff;
  --vscode-breadcrumb-foreground: rgba(255, 255, 255, 0.8);
  --vscode-breadcrumbPicker-background: #0c141f;
  --vscode-button-background: #0e639c;
  --vscode-button-foreground: #ffffff;
  --vscode-button-hoverBackground: #1177bb;
  --vscode-checkbox-background: #000000;
  --vscode-checkbox-border: #6fc3df;
  --vscode-checkbox-foreground: #ffffff;
  --vscode-debugExceptionWidget-background: #420b0d;
  --vscode-debugExceptionWidget-border: #a31515;
  --vscode-debugToolBar-background: #000000;
  --vscode-descriptionForeground: rgba(255, 255, 255, 0.7);
  --vscode-diffEditor-insertedTextBackground: rgba(155, 185, 85, 0.2);
  --vscode-diffEditor-removedTextBackground: rgba(255, 0, 0, 0.2);
  --vscode-dropdown-background: #000000;
  --vscode-dropdown-border: #6fc3df;
  --vscode-dropdown-foreground: #ffffff;
  --vscode-editor-background: #000000;
  --vscode-editor-findMatchBackground: #515c6a;
  --vscode-editor-findMatchHighlightBackground: rgba(234, 92, 0, 0.33);
  --vscode-editor-findRangeHighlightBackground: rgba(58, 61, 65, 0.4);
  --vscode-editor-focusedStackFrameHighlightBackground: #cee7ce;
  --vscode-editor-font-family: Consolas, "Courier New", monospace;
  --vscode-editor-font-size: 16;
  --vscode-editor-font-weight: normal;
  --vscode-editor-foreground: #ffffff;
  --vscode-editor-hoverHighlightBackground: rgba(173, 214, 255, 0.15);
  --vscode-editor-inactiveSelectionBackground: rgba(255, 255, 255, 0.5);
  --vscode-editor-lineHighlightBorder: #f38518;
  --vscode-editor-rangeHighlightBackground: rgba(255, 255, 255, 0.04);
  --vscode-editor-selectionBackground: #ffffff;
  --vscode-editor-selectionHighlightBackground: rgba(30, 63, 96, 0.6);
  --vscode-editor-snippetFinalTabstopHighlightBorder: #525252;
  --vscode-editor-snippetTabstopHighlightBackground: rgba(124, 124, 124, 0.3);
  --vscode-editor-stackFrameHighlightBackground: #fff600;
  --vscode-editor-wordHighlightBackground: rgba(87, 87, 87, 0.72);
  --vscode-editor-wordHighlightStrongBackground: rgba(0, 73, 114, 0.72);
  --vscode-editorActiveLineNumber-foreground: #f38518;
  --vscode-editorBracketMatch-background: rgba(0, 100, 0, 0.1);
}
