.vscode-icon {
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  font-style: normal;
  height: 16px;
  width: 16px;
}

.vscode-icon.size-24 {
  height: 24px;
  width: 24px;
}
