name: Verify PR

on: pull_request

jobs:
  verify:
    name: Verify (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    steps:
      - name: Clone Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Node version
        uses: actions/setup-node@v6
        with:
          scope: '@vscode-elements'
          node-version: 22
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'
          cache-dependency-path: |
            package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Transpile files
        run: npm run build:ts

      - name: ESLint
        run: npm run lint

      - name: Prettier
        run: npm run prettier

      - name: Test
        run: npm run test
